.navbar {
  @include mq($from: desktop) {
    padding: 2rem 0rem;
  }

  &__hero {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: white;

    .navbar-brand a {
      font-size: 1.25rem;
      font-weight: 500;
      color: $black;
    }
  }

  .navbar-brand {
    font-size: 1.25rem;
    font-weight: 500;
    color: $black;
  }
}