.navbar {
  @include mq($from: desktop) {
    background: transparent;
    padding: 2rem 0rem;
  }

  &-menu {
    // Styles for mobile nav
    @include mq($until: desktop) {
      background: $black;
      color: $white;
      display: inherit;
      position: absolute;
      top: 0%;
      transition: all $short-speed ease-in-out;
      width: 100%;
      z-index: -20;
    }

    .navbar-end {
      display: flex;
      justify-content: center;
    }
  }

  &-brand {
    background: $black;
    color: $white;
    font-size: 1.25rem;
    font-weight: 500;
    position: absolute;
    width: 100%;
    z-index: 30;

    @include mq($from: desktop) {
      background: transparent;
      z-index: auto;
    }
  }

  .is-active {
    top: 100%;
    z-index: 10;
  }

  &__hero {
    background: $blue;
    z-index: auto;

    @include mq($from: desktop) {
      background-color: transparent;
      color: $white;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
    }

    .navbar-burger {
      color: $white;
    }

    a {
      color: $white;
    }
  }
}

