
// The Portfolio Grid styles on the Homepage
.portfolio__item {
  background-color: $blue;

  img {
    opacity: 1;
    transition: opacity $short-speed ease;
    z-index: 10;

    &:hover {
      opacity: 0.1;
      cursor: pointer;
    }
  }

  &__caption {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;

    &__title{
      color: $black;
      font-size: 2rem;
      line-height: 1.25;
      margin-bottom: 0.5rem;
    }

    &__description{
      color: $black;
      font-size: 1rem;
    }
  }

}

// Video embed styles
.portfolio__video {
  &__embed {
    opacity: 0;
    transition: opacity $default-speed ease;

    &__loaded {
      opacity: 1;
    }
  }
}
