.hero__video {
  position: relative;

  h1 {
    color: $white !important;
  }

  &__wrapper {
    background: $black;
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10; // To sit under mobile nav

    iframe {
      height: 56.25vw; // Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      left: 50%;
      min-height: 100vh;
      min-width: 177.77vh; // Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      opacity: .5;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
    }
  }
}
