{% extends "layout.html" %}

  {% block page_title %} About Me {% endblock %}
    
    {% block content %} 

    <section>
      <div class="container is-fluid">
        <div class="is-12 is-16by0">
          <img src="http://placehold.it/1440x752" alt="">
        </div>
      </div>

      <div class="container is-fluid">

        <div class="columns">
          <div class="column is-3">
            <h2>Clients</h2>
            <ul>
              <li>
                <p>Item</p>
              </li>
              <li>
                <p>Item</p>
              </li>
              <li>
                <p>Item</p>
              </li>
              <li>
                <p>Item</p>
              </li>
              <li>
                <p>Item</p>
              </li>
            </ul>
          </div>

          <div class="column is-offset-3">
            <h1>Hi,</h1>
            <p>Jasper Jin is a graphic designer from Hong Kong who currently resides in sunny Los Angeles, California. In 2008, he graduated with a BFA in Graphic Design from Fake Hong Kong College. That may seem like centuries ago in internet years, but don’t worry, this hyperbolic old dog is on top of all the new tricks. Jasper enjoys houseplants and has a deep (fried) love for chicken. He is currently available for freelance projects.</p>

            <p>CV available upon request.</p>

            <a href="#" class="button is-medium is-info">Download CV</a>
          </div>
        </div>
      </div>
      
    </section>

    <section class="section section--blue section--no-mar-bottom">
      <div class="container is-fluid ">
        <div class="columns">
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
        </div>

        <div class="columns">
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
        </div>
      </div>
    </section>
{% endblock %}