{% extends "layout.html" %}

  {% block page_title %} About Me {% endblock %}
    
    {% block content %} 

    <section>
      <div class="container is-fluid">
        <div class="is-12 is-16by0 has-text-centered">
          <img src="http://placehold.it/1440x752" alt="">
        </div>
      </div>

      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-6 is is-offset-3">
            <h1 class="has-text-centered">Abbie Smith</h1>
            <p>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo optio libero voluptas reiciendis, amet assumenda laudantium quos qui enim tempore deleniti repellat cupiditate molestiae, similique aperiam ullam eaque sequi commodi!</span>
              <span>Corporis alias assumenda sunt, aliquam aperiam, blanditiis ea ipsa consectetur quam! Officiis mollitia tempora praesentium fugiat recusandae est voluptas, a exercitationem rerum non molestiae voluptates repudiandae itaque illum sed iste.</span>
              <span>Doloribus nobis sint maxime quisquam architecto ut, cupiditate consequatur blanditiis quis autem, ad amet iusto dolor quidem odit. Quibusdam, nesciunt, ad! Id repellendus iusto cupiditate, architecto libero sint, corrupti qui.</span>
              <span>Itaque reiciendis excepturi fuga, illum sint! A, vitae ipsam perferendis, laborum, ea nulla est laboriosam vel suscipit blanditiis placeat natus ratione eveniet facilis earum. Pariatur quidem quis at minus quia!</span>
              <span>Rem numquam, voluptatem quia nihil magnam, incidunt excepturi labore iste temporibus ut soluta natus? Veritatis magni nesciunt numquam, est vitae explicabo totam porro ad aperiam earum ducimus autem pariatur natus.</span>
            </p>

            <p>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi modi, impedit doloribus voluptatem quisquam quaerat recusandae natus amet animi harum. Dignissimos blanditiis unde, at asperiores nobis fugit dicta sit eveniet?</span>
              <span>At velit magnam ea minima cum doloribus, itaque non. Obcaecati asperiores voluptatem fugit totam possimus cumque tenetur quos voluptates, debitis voluptate modi optio nesciunt? Harum adipisci libero impedit aperiam magni.</span>
              <span>Aliquid maiores dignissimos, cupiditate at iste tempore modi dolores quam sit animi perspiciatis quo cumque ipsa aperiam placeat deleniti odio ipsum iure! Tenetur dolore vero vel harum laborum aperiam delectus!</span>
              <span>Earum, labore hic facilis tempore esse tenetur, ea nam molestiae dolorum a incidunt officiis commodi optio voluptatibus quidem voluptas atque cupiditate. Nam accusamus expedita ipsa voluptate quis quasi mollitia dignissimos!</span>
              <span>Deleniti, molestiae vel iste. Doloribus, error numquam? Architecto aperiam consequatur eius, fuga cum! Odit dolor ducimus architecto fuga, deleniti voluptatibus consequatur totam ab a laudantium, nulla magni nostrum culpa! Quia.</span>
            </p>

            <hr>

            <h2>Some of my proudest achievements</h2>
            <ul class="has-text-right">
              <li>
                <p>list item</p>
              </li>
              <li>
                <p>list item</p>
              </li>
              <li>
                <p>list item</p>
              </li>
              <li>
                <p>list item</p>
              </li>
              <li>
                <p>list item</p>
              </li>
            </ul>
            <hr>

            <h2>Say G'Day</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem tempora, quisquam incidunt ullam, dignissimos aliquid culpa asperiores fugit excepturi in odio similique distinctio iure veniam nemo doloremque error nulla esse.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section section--blue section--no-mar-bottom">
      <div class="container is-fluid ">
        <div class="columns">
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
        </div>

        <div class="columns">
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
          <div class="column"><img src="http://placehold.it/300" alt=""></div>
        </div>
      </div>
    </section>
{% endblock %}