{% extends "layout.html" %}
  {% block navbar_hero %}navbar__hero{% endblock %}
  {% block page_title %} Video Editor {% endblock %}

    {% block content %}

      <section class="hero hero__video is-large">
        <!-- Background Video -->
        <div class="hero__video__wrapper">
          <iframe src="https://player.vimeo.com/video/182977415?background=1&autoplay=1&loop=1&byline=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div class="container">
          <div class="hero-body">
            <div class="container">
              <div class="columns">
                <div class="column is-8 is-offset-2">
                   <h1 class="title has-text-centered animated fadeInUp">
                    Abbie Smith is an <span id="herolist">experienced | fabulous | awesome</a></span> video editor with over 5 years experience. Living in Kent.
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="portfolio__home">
        <div class="container">
          <div class="columns">
            <div class="column">
              <a href="portfolio/default-portfolio-item.html">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/Discovery/The-Haunting-Of.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">The Haunting Of on Quest Red</div>
                    <div class="portfolio__item__caption__description">30 seconds</div>
                  </div>
                </figure>
              </a>
            </div>

            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/Discovery/Ghost-Brothers.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">Ghost Brothers on Quest Red</div>
                    <div class="portfolio__item__caption__description">30 seconds</div>
                  </div>
                </figure>
              </a>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/Discovery/Deadliest-Catch-Social.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">Deadliest Catch - Crabs Escape</div>
                    <div class="portfolio__item__caption__description">Social videos</div>
                  </div>
                </figure>
              </a>
            </div>

            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/Discovery/Deadliest-Catch-Launch.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">Deadliest Catch on Discovery</div>
                    <div class="portfolio__item__caption__description">30 Seconds</div>
                  </div>
                </figure>
              </a>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/BBC/BBC-World-News-Reel.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">BBC World News</div>
                    <div class="portfolio__item__caption__description">In house reel project</div>
                  </div>
                </figure>
              </a>
            </div>

            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/BBC/Big-Cats-Credit-Squeeze.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">Big Cats</div>
                    <div class="portfolio__item__caption__description">End Credit Squeeze (Silent)</div>
                  </div>
                </figure>
              </a>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/BBC/The-A-Word-Ep3.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">The A Word Episode 3</div>
                    <div class="portfolio__item__caption__description">BBC One</div>
                  </div>
                </figure>
              </a>
            </div>

            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/BBC/The-A-Word-Ep2.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">The A Word Episode 2</div>
                    <div class="portfolio__item__caption__description">BBC One</div>
                  </div>
                </figure>
              </a>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/BBC/Christmas-Carol-Goes-Wrong.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">A Christmas Carol Goes Wrong</div>
                    <div class="portfolio__item__caption__description">BBC One</div>
                  </div>
                </figure>
              </a>
            </div>

            <div class="column">
                <a href="#">
                  <figure class="portfolio__item image is-16by9">
                    <img src="img/Portfolio/BBC/HARDtalk.jpg">

                    <div class="portfolio__item__caption">
                      <div class="portfolio__item__caption__title">HARDtalk</div>
                      <div class="portfolio__item__caption__description">BBC World News</div>
                    </div>
                  </figure>
                </a>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/BBC/Big-Cats-Launch.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">Big Cats</div>
                    <div class="portfolio__item__caption__description">BBC One</div>
                  </div>
                </figure>
              </a>
            </div>

            <div class="column">
              <a href="#">
                <figure class="portfolio__item image is-16by9">
                  <img src="img/Portfolio/BBC/Question-Of-Sport.jpg">

                  <div class="portfolio__item__caption">
                    <div class="portfolio__item__caption__title">A Question Of Sport</div>
                    <div class="portfolio__item__caption__description">BBC One</div>
                  </div>
                </figure>
              </a>
            </div>
          </div>
      </section>
    {% endblock %}