{% block page_title %} Default Project {% endblock %}

{% extends "portfolio-item-layout.html" %}
  
  <!-- Set Portfolio Item Masthead -->
  {% block portfolio_item_name %} Example Client {% endblock %}
  {% block portfolio_item_client %} BBC Creative {% endblock %}
  {% block portfolio_item_length %} 300 Hours {% endblock %}
  <!-- End Portfolio Item Masthead -->

  <!-- Vimeo Embed -->
  {% block portfolio_video_number %}268775760{% endblock %}
  
  <!-- Item Description -->
  {% block portfolio_item_description %} <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil recusandae velit pariatur sit hic rerum, unde suscipit fugit, perferendis, odit error nesciunt tempore expedita? Fuga odit commodi dignissimos aliquid, dolore!</span><span>Labore, ea possimus facilis quisquam, iure autem libero quia. Velit ut explicabo, corporis totam vel ipsum aliquam assumenda reprehenderit, et odit animi, amet recusandae ab sit? Minus consequuntur quaerat sint.</span></p> {% endblock %}

    
    
  